DATABASE_URL=sqlite:///./fleetsync.db

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=fleetsync-gps

FLEETSYNC_SERVER_URL=${{RAILWAY_STATIC_URL}}

OSRM_BASE_URL=https://router.project-osrm.org
OPENROUTESERVICE_API_KEY=your_api_key_here

VITE_API_URL=${{RAILWAY_STATIC_URL}}