DATABASE_URL=sqlite:///./fleetsync.db

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=fleetsync-gps

FLEETSYNC_SERVER_URL=${{RAILWAY_STATIC_URL}}

SUPABASE_URL=https://tnyhskjmntfyqwrzmjnq.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRueWhza2ptbnRmeXF3cnptam5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2NjY5NjcsImV4cCI6MjA4NzI0Mjk2N30.4eiRZernPVP4w_ybWJGN1E-V15w5DZdEKdjLnYs_7So

OSRM_BASE_URL=https://router.project-osrm.org
OPENROUTESERVICE_API_KEY=your_api_key_here

VITE_API_URL=${{RAILWAY_STATIC_URL}}