# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules
pathway/pathway-env
public/leaf.png
server/server-env
frontend-backend-mapping.node_modules

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/

# Environment
.env
